/* CSS Document */

.top-bottom-buffer { 
	margin-top: 60px; 
	margin-bottom: 60px;
}

.bottom-buffer {
	margin-bottom: 60px;
}

.top-bottom-buffer-min { 
	margin-top: 60px; 
	margin-bottom: 30px;
}

.my-header {
	font-family: "Open Sans";
	font-size: 42px;
}

.my-header-vsm {
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 18px;

}

.my-footer-header {
	font-family: "Open Sans";
	font-size: 22px
}

.my-paragraph {
	font-family: "Open Sans";
}

.my-footer-writings {
	font-family: "Open Sans";
}

.mycard {
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	max-width: 300px;
 	margin: auto;
  	text-align: center;
  	font-family: 'Open Sans';
	background-color: #1d1d1d;
	margin-bottom: 30px;
	padding: 10px;
	padding-top: 20px;
}

.price {
	color: #A1A1A1A1;
	font-size: 22px;
	font-family: "Open Sans";
}

.inviamail {
	font-family: "Open Sans";
}

.inviamail input, .inviamail textarea {
	font-size: 14px;
}

.mycard button, .inviamail button, .carrellobuttons button {
	border: none;
	outline: 0;
	padding: 12px;
	color: #A1A1A1A1;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
	opacity: 0.7;
}

.mycard button:hover, .inviamail button:hover, .carrellobuttons button:hover {
	opacity: 0.9;
	color: #900608;
}

.mycard p {
	margin-top: 15px;
}

.mycard h3 {
	margin-top: 15px;
}

.accordioncard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
	font-family: 'Open Sans';
	margin-bottom: 15px;
    /*border-radius: .25rem;*/
}

li.selected a {
    color: #900608;
}

.hr2 {
    background: #b2b2b2;
    height: 1px;
    margin: 16px auto;
    width: 100%;
}

/*STILE SCHEDA PRODOTTO*/

.preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column; 
}

@media screen and (max-width: 996px) {
	.preview {
		margin-bottom: 20px; 
	} 
}

.card {
	/*margin-top: 50px;*/
	background: #1B1B1B;
	padding: 3em;
	line-height: 1.5em; 
}

.preview-pic {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1; 
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; 
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; 
}

.preview-thumbnail.nav-tabs li img {
	max-width: 100%;
	display: block; 
}

.preview-thumbnail.nav-tabs li a {
	padding: 0;
	margin: 0; 
}
 
.preview-thumbnail.nav-tabs li:last-of-type {
	margin-right: 0; 
}

.tab-content {
	overflow: hidden; 
}

.tab-content img {
	width: 100%;
	-webkit-animation-name: opacity;
	animation-name: opacity;
	-webkit-animation-duration: .3s;
	animation-duration: .3s; 
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column; 
}

.colors {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1; 
}

.product-title, .colors {
	text-transform: UPPERCASE;
	font-weight: bold; 
	font-family: "Open Sans";
}

.price {
	font-weight: bold; 
	font-family: "Open Sans";
}

.checked, .price span {
	color: #900608; 
}

.unchecked {
	color: #A1A1A1;
}

.product-title, .rating, .product-description {
	margin-bottom: 15px;
	font-family: "Open Sans";
	text-align: justify;
}

.price, .vote {
    margin-bottom: 20px;
    margin-top: 34px;
	font-family: "Open Sans";
}

.product-title {
	margin-top: 0; 
}

.my-header-reviews {
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 24px;
}

.size {
	margin-right: 10px; 
}

.size:first-of-type {
	margin-left: 40px; 
}

.color {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	height: 2em;
	width: 2em;
	border-radius: 2px; 
}

.color:first-of-type {
	margin-left: 20px; 
}

.add-to-cart, .like {
	background: #000;
	padding: 1.2em 1.5em;
	border: none;
	text-transform: UPPERCASE;
	font-weight: bold;
	color: #A1A1A1A1;
	-webkit-transition: background .3s ease;
	transition: background .3s ease; 
	opacity: 0.7;
}

.add-to-cart:hover, .like:hover {
    color: #900608;
    opacity: 0.9;
	
}

.lascia-recensione {
	background: #000;
	padding: 0.6em 1.5em;
	border: none;
	text-transform: UPPERCASE;
	font-weight: bold;
	color: #A1A1A1A1;
	-webkit-transition: background .3s ease;
	transition: background .3s ease; 
	opacity: 0.7;
}

.lascia-recensione:hover {
    color: #900608;
    opacity: 0.9;
	
}

.not-available {
	text-align: center;
	line-height: 2em; 
}

.not-available:before {
	font-family: fontawesome;
	content: "\f00d";
	color: #fff; 
}

.orange {
  background: #ff9f1a; 
}

.green {
  background: #85ad00; 
}

.blue {
  background: #0076ad; 
}

.tooltip-inner {
	padding: 1.3em; 	
}

@-webkit-keyframes opacity {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
		transform: scale(3); 
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1); 
	} 
}

@keyframes opacity {
	0% {
		opacity: 0;
		-webkit-transform: scale(3);
		transform: scale(3); 
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1); 
	} 
}