/*=============================================================
fonts
=============================================================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Poppins:300,400,500,600,700,800,900');


/*=============================================================
html and body
=============================================================*/
body {
    background: #121212;
    color: #e1e1e1;
    font-family: 'Open Sans', sans-serif;
}
.section-padding {
    padding: 100px 0;
}

.section-heading {
    text-align: center;
}

.section-heading h5 {
    margin-bottom: 10px;
}

.section-heading > p {
    margin: 10px 0 30px;
}

.section-heading.section-heading2 h2 {
    margin: 12px 0 20px;
}

.menu-img {
    overflow: hidden;
}



h1 {
    font-size: 56px;
    line-height: 65px;
    letter-spacing: 1px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    text-transform: capitalize;
}

h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

h4 {
    font-size: 22px;
    line-height: 16px;
    text-transform: capitalize;

}

h5 {
    color: #900608;
    font-size: 18px;
    line-height: 16px;
}

h6 {
    font-size: 16px;
    line-height: 15px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #a1a1a1

}

button {
    outline: none !important;
}

.btn {
    white-space: inherit;
}

input,
textarea {
    outline: none;
    resize: none;
    border-bottom: 1px solid #DDDDDD;

}

textarea {
    outline: none;
    resize: none;
    line-height: 12px;
    border: none;
    background: none;
    border-bottom: 1px solid #b2b2b2;
    width: 100%;
    color: #fff;
    margin-top: 10px;
}
.form-control{
    border-radius: 0;
}
a {
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    color: #a1a1a1;
}

a:hover,
a:active {
    color: #900608;
    text-decoration: none;
    outline: 0;
}

a:focus {
    text-decoration: none;
    outline: 0;
}
:focus {
    outline: 0;
}


ul {
    margin: 0;
    list-style-type: none;
}


::placeholder {
    color: #b2b2b2;
    text-transform: capitalize;
}

::-moz-placeholder {
    color: #b2b2b2;
    text-transform: capitalize;
}

:-ms-input-placeholder {
    color: #b2b2b2;
    text-transform: capitalize;
}

::-webkit-input-placeholder {
    color: #b2b2b2;
    text-transform: capitalize;
}

/*============= styles ===================*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Open Sans';
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.mt-20 {
    margin-top: 20px
}

.mt-30 {
    margin-top: 30px
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mtb-20-30 {
    margin: 20px 0 30px;
}

.mtb-20-0 {
    margin: 20px 0;
}

/*=============== preloader =================*/

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: radial-gradient(#222, black);*/
    background: #0B1424;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
